.footer {
  display: grid;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-top: 6rem;
  background: var(--color-footer);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: flex-start;
}

.footer ul h2 {
  color: var(--color-text);
  font-size: 16px;
  margin-bottom: 20px;
}
.footer ul li a {
  font-size: 14px;
  color: var(--color-text-white);
}
.footer ul li:not(:first-child) {
  margin-top: 10px;
}

.footer ul:last-child img {
  width: 200px;
  display: block;
}
.footer ul:last-child p {
  max-width: 250px;
  line-height: 1.6;
  color: var(--color-text);
}

@media screen and (max-width: 1300px) {
  .footer ul {
    margin: 30px 0;
  }
}

@media screen and (max-width: 332px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer ul {
    text-align: center;
  }
  .footer ul:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
