.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex: 1 1 300px;
  background: var(--color-footer);
  padding: 50px 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: var(--color-border) 1px solid;
}

.card h3 {
  color: var(--color-subtext);
  font-size: 30px;
  background-color: var(--color-bg);
  padding: 25px;
  border-radius: 50%;
}

.card p {
  margin: 10px 0;
  color: var(--color-text-white);
  font-weight: 600;
  font-size: 24px;
}

.card > div a {
  color: rgba(29, 50, 255, 0.8);
  margin-right: 5px;
}
